.signOutWrapper {
    position: relative;
    height: 48px;
    width: auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.signOutWrapper img {
    height: 100%;
}

.signOutWrapper span {
    display: flex;
    letter-spacing: normal;
    font-family: Lato, sans-serif;
    margin: 0 14px 0 0;
}