.onboarding {
  display: block;
  flex-shrink: 0;
  flex-grow: 1;
  padding: 0 calc(3.5vw + 24px);
  position: relative;
  min-height: calc(100vh - 250px);
}

.onboardingWrapper {
  color: #fff;
  margin: 32px auto;
  max-width: 374px;
  overflow: visible;
  width: 100%;
  z-index: 1;
}

.onboardingForm h3 {
  font-family: Lato, sans-serif;
  color: rgb(249, 249, 249);
  margin: 0px;
  padding: 0px 0px 24px;
  font-size: 24px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.17;
}

.onboardingForm fieldset {
  border: none;
  display: inline;
  margin: 0px 0px 24px;
  padding: 0px;
  position: relative;
  width: 100%;
}

.onboardingForm fieldset > span {
  position: relative;
  display: block;
}

.onboardingForm legend {
  padding: 0px;
  display: none;
}

.loginInput {
  backdrop-filter: blur(50px);
  background-color: rgb(49, 52, 62);
  border: 1px solid transparent;
  border-radius: 4px;
  caret-color: rgb(2, 231, 245);
  color: rgb(249, 249, 249);
  font-size: 15px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  height: 48px;
  letter-spacing: normal;
  line-height: 1.53;
  margin: 0px;
  outline: none;
  padding: 7px 12px;
  transition: all 0.1s ease 0s;
  width: 100%;
  transition: 0.25s;
}

.loginInput:active,
.loginInput:focus {
  border: 1px solid rgba(249, 249, 249, 0.3);
}

.loginInput.error {
  border: 1px solid rgb(255, 85, 76);
}

.nextBtn {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-font-smoothing: antialiased;
  background: rgb(0, 114, 210);
  border: none;
  border-radius: 4px;
  color: rgb(249, 249, 249);
  font-size: 15px;
  padding: 0px 24px;
  text-transform: uppercase;
  align-items: center;
  cursor: pointer;
  display: flex;
  font-family: Lato, sans-serif;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  height: 48px;
  justify-content: center;
  letter-spacing: 1.5px;
  line-height: 1.5;
  margin: 0px;
  overflow: hidden;
  text-align: center;
  transition: all 0.2s ease-in-out 0s;
  width: 100%;
  opacity: 1;
  visibility: visible;
}

.nextBtn:hover,
.nextBtn:focus,
.nextBtn:active {
  border: none;
  color: rgb(249, 249, 249);
}

.nextBtn:hover,
.nextBtn:focus {
  filter: none;
  background: rgb(6, 141, 255);
}

.signUpBlock {
  margin: 24px 0 0 0;
}

.signUpBlock > div {
  font-family: Lato, sans-serif;
  color: rgb(202, 202, 202);
  display: inline-block;
  font-size: 15px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1.53;
  padding-right: 4px;
}

.signUpBlock > a {
  font-family: Lato, sans-serif;
  color: rgb(249, 249, 249);
  opacity: 1;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.53;
  margin: 0px;
  text-align: center;
  text-decoration: none;
  width: auto;
}

.showPasswordBtn {
  -webkit-appearance: button;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  cursor: pointer;
  position: absolute;
  right: 16px;
  top: 13px;
  display: inline-block;
  border: none;
  background: transparent;
  color: white;
}

.errorInput {
  font-family: Lato, sans-serif;
  color: rgb(255, 85, 76);
  margin: 0px;
  cursor: inherit;
  font-size: 12px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1.5;
  text-transform: none;
}

/* Effects */
#slideIn {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
}

.slideIn {
  opacity: 1;
  animation: slide-in 0.25s forwards;
  -webkit-animation: slide-in 0.25s forwards;
}

.slideOut {
  opacity: 0;
  animation: slide-out 0.25s forwards;
  -webkit-animation: slide-out 0.25s forwards;
}

@keyframes slide-in {
  0% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
